<%- include('includes/head'); %>
    <%- include('includes/navbar'); %>
        <div class="container" style="max-width: 900px;">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-3">
                    <h1 class="display-1 text-center">Agenda</h1>
                    <p class="text-center lead">Lista de contatos</p>
                    <div class="row">
                        <div class="col my-3">
                            <div class="alert alert-danger">mensagem de erro</div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Sobrenome</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Caio</td>
                                <td>Pereira</td>
                                <td>11912341234</td>
                                <td>email@email.com</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <%- include('includes/footer'); %>